---
import { query } from './_graphql';
import { executeQuery } from '~/lib/datocms/executeQuery';

import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
export const prerender = true;


export async function getStaticPaths() {
  // Query per ottenere tutti gli slug
  const allPagesQuery = `
    query {
      allPages {
        id
        slug
        title
      }
    }
  `;
  
  // Usa la tua funzione executeQuery
  const { allPages } = await executeQuery(allPagesQuery);
  
  return allPages.map((page: any) => ({
    params: { slug: page.slug }
  }));
}


const { slug } = Astro.params;
const { page } = await executeQuery(query, { 
  variables: { slug } 
});

---
<Layout>
  <Headline
    subtitle="A statically generated blog example with news, tutorials, resources and other interesting content related to AstroWind"
  >
    {page.title}
  </Headline>

  <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">    
  </div>
</Layout>